{% extends 'base.html' %}
{% block title %}
    Товар
{% endblock %}
{% block content %}
    {% if id %}
        <h1>Страница товара</h1>
        <p>Наименование - {{ name }}</p>
        <p>Описание - {{ description }}</p>
        <p id="price">Цена - {{ price }}</p>
        <form id="currency-form" method="post">
            <select name="currency" id="currency-select">
                <option value="RUB" {% if currency == 'RUB' %} selected {% endif %}>Рубль</option>
                <option value="USD" {% if currency == 'USD' %} selected {% endif %}>Доллар США</option>
            </select>
        </form>
        <button id="checkout-button">Купить</button>
    {% endif %}
    <script src="https://js.stripe.com/v3/"></script>
    <script type="text/javascript">
        document.getElementById('checkout-button').addEventListener('click', function () {
            var selectedCurrency = document.getElementById('currency-select').value;
            fetch('/buy/{{ id }}?currency=' + selectedCurrency)
                .then(function (response) {
                    return response.json();
                })
                .then(function (session) {

                    const stripe = Stripe("{{ STRIPE_PUBLISHABLE_KEY }}");
                    stripe.redirectToCheckout({'sessionId': session.sessionId})
                });
        });

        document.getElementById('currency-form').addEventListener('change', function () {
            var selectedCurrency = document.getElementById('currency-select').value;
            fetch('/item/{{ id }}?currency=' + selectedCurrency)
            .then(function (response) {
                return response.json();
            })
                .then(function (data) {
                    document.getElementById('price').innerText = data.price;
                });
        });
    </script>
{% endblock %}