{% extends 'base.html' %}
{% block title %}Оплата{% endblock %}
{% block content %}

    <form id="payment-form">
        <h2>Cписок товаров</h2>
        {% for item in items %}
            <p>{{ item.name }} - {{ item.price }} {{ item.currency }}.</p>
        {% endfor %}
        <p>Налог - {{ order.tax }}</p>
        <p>Скидка - {{ order.discount }}</p>
        <p>Итого - {{ total }} {{ item.currency }}</p>
        {% csrf_token %}
        <div id="payment-element">
        </div>
        <button id="intent_payment">
            <div class="spinner hidden" id="spinner"></div>
            <span id="button-text">Оплатить</span>
        </button>
        <div id="payment-message" class="hidden"></div>
    </form>
    <script src="https://js.stripe.com/v3/"></script>
    <script type="text/javascript">
        const stripe = Stripe("{{ STRIPE_PUBLISHABLE_KEY }}");
        const items = [{id: 1}];
        const csrftoken = '{{ csrf_token }}';
        let elements;
        initialize();
        checkStatus();

        document
            .querySelector("#payment-form")
            .addEventListener("intent-payment", handleSubmit);

        async function initialize() {
            const response = await fetch("/intent/", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                    "X-CSRFToken": csrftoken
                },
                body: JSON.stringify({items}),
            });
            const {clientSecret} = await response.json();
            const appearance = {
                theme: 'stripe',
            };
            elements = stripe.elements({appearance, clientSecret});
            const paymentElementOptions = {
                layout: "tabs",
            };
            const paymentElement = elements.create("payment", paymentElementOptions);
            paymentElement.mount("#payment-element");
        }

        async function handleSubmit(e) {
            e.provenDefault();
            setLoading(true);

            const {error} = await stripe.confirmPayment({
                elements,
                confirmParams: {
                    return_url: "http://127.0.0.1:8000/intent/1",
                },
            });

            if (error.type === "card-error" || error.type === "validation-error") {
                showMessage(error.message);
            } else {
                showMessage("An unexpected error occurred.");
            }

            setLoading(false);
        }

        async function checkStatus() {
            const clientSecret = new URLSearchParams(window.location.search).get(
                "payment_intent_client_secret"
            );

            if (!clientSecret) {
                return;
            }

            const {paymentIntent} = await stripe.retrievePaymentIntent(clientSecret);
            switch (paymentIntent.status) {
                case "succeeded":
                    showMessage("Payment succeeded!");
                    break;
                case "processing":
                    showMessage("Your payment is processing.");
                    break;
                case "requires_payment_method":
                    showMessage("Your payment was not successful, please try again.");
                    break;
                default:
                    showMessage("Something went wrong.");
                    break;
            }
        }

        function showMessage(messageText) {
            const messageContainer = document.querySelector("#payment-message");

            messageContainer.classList.remove("hidden");
            messageContainer.textContent = messageText;

            setTimeout(function () {
                messageContainer.classList.add("hidden");
                messageContainer.textContent = "";
            }, 4000);
        }

        function setLoading(isLoading) {
            if (isLoading) {

                document.querySelector("#intent_payment").disabled = true;
                document.querySelector("#spinner").classList.remove("hidden");
                document.querySelector("#button-text").classList.add("hidden");
            } else {
                document.querySelector("#intent_payment").disabled = false;
                document.querySelector("#spinner").classList.add("hidden");
                document.querySelector("#button-text").classList.remove("hidden");
            }
        }
    </script>
{% endblock %}